body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    color: #bd93f9;
    width: 400px;
    background: none;
}

.box {
    background-color: #282a36;
    padding: 20px 40px;
    background: linear-gradient(90deg, rgb(0, 133, 89) 0%, rgb(14, 93, 139) 100%) padding-box, linear-gradient(90deg, #bd93f9, #ff79c6) border-box;
    border: 2px solid transparent;
}
.header {
    margin-bottom: 80px;
}
h1 {
    font-size: 40px;
    margin: 0 0 10px 0;

    line-height: 50px;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;

    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
    background-clip: text!important;
    background: linear-gradient(270deg, rgb(107, 204, 157) 0%, rgb(72, 149, 149) 46%, rgb(193, 214, 245) 100%) var(--x,0)/200%;
}

label {
    z-index: 1;
    font-size: 10px;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
    background-clip: text!important;
    margin-bottom: 10px;
    background:linear-gradient(270deg, rgb(9, 155, 84) 0%, rgba(1,43,43,1) 46%, rgba(2,41,98,1) 100%) var(--x, 0)/200%;
}

select {
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
    font-size: 14px;
    background: linear-gradient(90deg, rgba(0,41,71,1) 0%, rgba(1,43,43,1) 46%, rgba(2,41,98,1) 100%) var(--x, 0)/200%;
    border-radius: 5px;
    color: #f8f8f2;
    justify-content: center;
}
select:hover, select:active {
    transition: 1s;
    cursor: pointer;
    --x: 100%;
}

option {
    cursor: pointer;
    background-color: #ff79c6;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.close-btn {
    color: #ff79c6;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: transparent !important;;
}

.btn {
    height: 100%;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 20px; 
    margin-top: 10px;
    background-color:#bd93f9 ;
    border: none;
    line-height: 20px;
    font-weight: 700;
    color: #f8f8f2;
    background: linear-gradient(90deg, rgba(0,41,71,1) 0%, rgba(1,43,43,1) 46%, rgba(2,41,98,1) 100%) var(--x, 0)/200%;
}
.btn:hover {
    transition: 1s;
    cursor: pointer;
    --x: 100%;
}

.btn-container {
    display: flex;
    flex-direction: column;
}
.description-container a {
    color: #ff79c6;
    text-decoration: inherit;
}
.description-container {
    border-top: solid 0.5px #ff79c6;
    padding-top: 30px;
    font-size: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bd93f9;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ff79c6;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ff79c6;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }