/* .left-menu, .main-menu, table {
    background: none !important;
    background-color: #44475a !important;
}

span, a {
    color: #bd93f9 !important;
}

.over-menu .center {
    background: none !important;
    background-color: #282a36 !important;
    border: 1px solid #ff79c6;
    border-radius: 5px;
}
.over-menu .left, .over-menu .right {
    background: none !important;
}

.out-menu {
    padding: 0 8px !important;
    margin: 0 !important;
}

.left-menu .out-menu {
    background-color: #282a36 !important;
}
.right-menu {
    background-color: #44475a !important;
}
tr td {
    background-color: #1d1628 !important;
}
td {
    color: #ff79c6 !important;
}

select, input {
    background-color: #ff79c6 !important;
    color: #282a36 !important;
}
.title table {
    width: 100% !important;
} */

/*! CODE PTIT */

#themeChanger {
    transition: 1s;
}

#themeChanger #guide-content.ytd-app {
    flex: 1;
    flex-basis: 1e-9px;
    display: flexbox;
    display: flex;
    flex-direction: column;
    background: transparent;
}
#themeChanger #chips-wrapper.ytd-feed-filter-chip-bar-renderer {
    position: fixed;
    top: var(--ytd-rich-grid-chips-bar-top);
    width: var(--ytd-rich-grid-chips-bar-width);
    background: transparent;
    z-index: 2000;
    display: flexbox;
    display: flex;
    justify-content: center;
}
#themeChanger ytd-app {
    --app-drawer-width: 240px;
    --ytd-persistent-guide-width: 240px;
    --ytd-permission-role-bottom-bar-height: 30px;
    --ytd-mini-guide-width: 72px;
    --app-drawer-content-container-background-color: linear-gradient(90deg, rgba(0,41,71,1) 0%, rgba(1,43,43,1) 46%, rgba(2,41,98,1) 100%);
    background: linear-gradient(90deg, rgba(0,41,71,1) 0%, rgba(1,43,43,1) 46%, rgba(2,41,98,1) 100%);
    display: block;
    left: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    scrollbar-color: var(--yt-spec-text-secondary) transparent;
}
#themeChanger #cinematics.ytd-watch-flexy div
{
    opacity: 0;
    
}
#themeChanger #background.ytd-masthead {
    z-index: -1;
    opacity: 1;
    position: absolute;
    height: 56px;
    width: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgb(0, 82, 86) 100%);
}
#themeChanger #search-form.ytd-searchbox {
    height: 40px;
    position: relative;
    flex: 1;
    flex-basis: 1e-9px;
    display: flexbox;
    display: flex;
    flex-direction: row;
}
#themeChanger #container.ytd-searchbox {
    position: relative;
    align-items: center;
    background-color: hsl(121.44deg 23.87% 85.76%);
    border: 1px solid hsl(183.37deg 98.1% 19.39%);
    border-right: none;
    border-radius: 40px 0 0 40px;
    box-shadow: inset 0 1px 2px var(--ytd-searchbox-legacy-border-shadow-color);
    caret-color: #026659;
    color: var(--ytd-searchbox-text-color);
    padding: 0 4px 0 16px;
    margin-left: 32px;
    flex: 1;
    flex-basis: 1e-9px;
    display: flexbox;
    display: flex;
    flex-direction: row;
}
#themeChanger #search-icon.ytd-searchbox {
    display: none;
    position: absolute;
    left: 0;
    color: #026659;
    padding: 0 10px;
}
#themeChanger #search-icon-legacy
{
    border: 1px solid hsl(183.37deg 98.1% 19.39%);
    background-color: hsl(198.37deg 72.79% 25.78% / 52%);
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    height: 40px;
    width: 64px;
    margin: 0;
}
#themeChanger #container.ytd-searchbox input.ytd-searchbox {
    color: hsl(184.04deg 67.7% 28.65% / 92%);
}
#themeChanger .sbsb_a {
    background: linear-gradient(0deg, rgba(0,32,54,1) 0%, rgba(2,90,98,1) 100%);
}
#themeChanger .status,
#themeChanger .nav,
#themeChanger .historywork {
    background-color: #44475a !important;
    border-color: #71bdff !important;
    color: #d7ecff !important;
}
#themeChanger .nav__menu__item a,
#themeChanger .ques__nav_title,
#themeChanger .status__nav {
    color: #71bdff !important;
}

@media only screen and (min-width: 767px) {
    #themeChanger .ques__nav__title,
    #themeChanger .status__nav {
        color: #71bdff !important;
    }
}

#themeChanger .text--ac {
    color: #50fa7b !important;
}
#themeChanger .text--blue {
    color: #8be9fd !important;
}

#themeChanger .bg--10th .ques__table__icon {
    background-color: #50fa7b !important;
}
#themeChanger .bg--10th {
    box-shadow: -20px 0 18px -15px #50fa7b !important;
    -moz-box-shadow: -20px 0 18px -15px #50fa7b !important;
    -webkit-box-shadow: -20px 0 18px -15px #50fa7b !important;
    background-color: #045886 !important;
}

#themeChanger .bg--50th .ques__table__icon {
    background-color: #ff5555 !important;
}
#themeChanger .bg--50th {
    box-shadow: -20px 0 18px -15px #ff5555 !important;
    -moz-box-shadow: -20px 0 18px -15px #ff5555 !important;
    -webkit-box-shadow: -20px 0 18px -15px #ff5555 !important;
    background-color: #ff555530 !important;
    border-left: 1.6px solid #ff5555 !important;
    border-right: 1.6px solid #ff5555 !important;
}

#themeChanger .ques__table__icon {
    margin: 10px !important;
}

#themeChanger .bg--20th {
    border-right: 1.6px solid #71bdff !important;
    background-color: #282a36 !important;
}

#themeChanger .ques__nav__form,
#themeChanger .custom__select,
#themeChanger .select__subject,
#themeChanger .select-items {
    background-color: #71bdff !important;
    border-color: #f8f8f2 !important;
    color: #f8f8f2 !important;
}
#themeChanger .ques__nav__form input {
    color: #f8f8f2 !important;
}

#themeChanger .ques__table tbody tr {
    box-shadow: -20px 0 18px -15px #f8f8f2;
    -moz-box-shadow: -20px 0 18px -15px #f8f8f2;
    -webkit-box-shadow: -20px 0 18px -15px #f8f8f2;
    border-left: 1px solid #71bdff !important;
    border-right: 1px solid #71bdff !important;
}
#themeChanger .ques__table tr td {
    border-bottom: solid 1.6px #71bdff !important;
}
#themeChanger .ques__table__head,
#themeChanger .status__table__head,
#themeChanger .rank__table__head {
    background-color: #71bdff !important;
    color: #f8f8f2 !important;
    border: 1px solid #71bdff !important;
}
#themeChanger .wrapper a {
    color: #d7ecff !important;
}
#themeChanger .nav .active {
    background-color: #71bdff !important;
    border: 1px solid #71bdff !important;
}

#themeChanger .chat__icon__wrapper {
    color: #71bdff !important;
}

#themeChanger .pagination .page-link {
    background-color: #282a36 !important;
    border-color: #71bdff !important;
    color: #71bdff !important;
}

/*! TRANG THAI */
#themeChanger .status__table {
    border-color: #71bdff !important;
}
#themeChanger .status__table tr,
#themeChanger .rank__table tr {
    border-right: 1px solid #71bdff !important;
    border-left: 1px solid #71bdff !important;
    border-color: #71bdff !important;
    background-color: #282a36 !important;
}

@media only screen and (min-width: 768px) {
    #themeChanger .status__table tr td {
        border-bottom: 1.6px solid #71bdff !important;
    }
    #themeChanger .status__nav p,
    #themeChanger .historywork__nav p,
    #themeChanger .admin__status__nav__title {
        font-size: 19.2px;
        margin-bottom: 24px !important;
        color: #71bdff !important;
    }
}

/*! RANKING */
@media only screen and (min-width: 768px) {
    #themeChanger .ranking__wrapper {
        background-color: #44475a !important;
        border-color: #71bdff !important;
        color: #71bdff !important;
    }
    #themeChanger .rank__top__side,
    #themeChanger .rank__top__mid {
        background-color: #282a36 !important;
        border: 1px solid #71bdff !important;
        color: #71bdff !important;
    }
    #themeChanger .rank__top__info__name,
    #themeChanger .rank__top__info__class,
    #themeChanger .rank__top__info__sub,
    #themeChanger .rank__top__result__des {
        color: #71bdff !important;
    }
    #themeChanger .rank__top__mid {
        box-shadow: #71bdff 0px 0px 30px 4px !important;
        border-top: 4.8px solid #71bdff !important;
        border-top: none;
    }
    #themeChanger .rank__top__side {
        box-shadow: #71bdff 0px 0px 30px 3px !important;
    }

    #themeChanger .rank__top__result__number text--ac {
        color: #71bdff !important;
    }
}

/*! HUONG DAN */
@media only screen and (min-width: 768px) {
    #themeChanger .setting__menu__title,
    #themeChanger .text--gray,
    #themeChanger .setting__main__guide__title {
        color: #71bdff !important;
    }
    figcaption {
        color: #ff79c6 !important;
    }
    #themeChanger .profile {
        border-top: 1px solid #282a36;
    }
    #themeChanger .profile,
    #themeChanger .user,
    #themeChanger .main__user {
        background-color: #44475a !important;
        color: #71bdff !important;
    }
}

/*! BAI TAP */
@media only screen and (min-width: 768px) {
    #themeChanger #submit {
        border: 1px solid #71bdff !important;
        background-color: #44475a !important;
    }
    #themeChanger .submit__des {
        background-color: #282a36 !important;
        color: #71bdff !important;
    }
    #themeChanger .submit__des tbody {
        border-color: #71bdff !important;
    }
    #themeChanger .submit__des p,
    #themeChanger .submit__des span {
        background-color: #282a36 !important;
        color: #71bdff !important;
    }
    #themeChanger .submit__nav {
        padding-bottom: 10px;
    }

    #themeChanger .select__lang,
    #themeChanger .fileInput__value,
    #themeChanger .fileInput__browser,
    #themeChanger .submit__pad__btn {
        background-color: #71bdff !important;
        border-color: #f8f8f2 !important;
        color: #f8f8f2 !important;
    }
    #themeChanger .submit__pad__nav__input p,
    #themeChanger .select-selected,
    #themeChanger .select-items div {
        color: #f8f8f2 !important;
    }
}
@media only screen and (min-width: 766px) {
    #themeChanger .select__lang,
    #themeChanger .fileInput__value,
    #themeChanger .fileInput__browser {
        background-color: #71bdff !important;
        border-color: #f8f8f2 !important;
        color: #f8f8f2 !important;
    }
    #themeChanger #submit__comm__textarea,
    #themeChanger .submit__comm__list {
        background-color: #282a36 !important;
        color: #71bdff !important;
    }
    #themeChanger .submit__comm__list__item__avt img {
        width: 100% !important;
        height: 100% !important;
        border-radius: 50% !important;
        border: 2px solid #71bdff !important;
    }
    #themeChanger .submit__comm__stick {
        background-color: #71bdff !important;
    }
    #themeChanger .submit__comm__list__item__content {
        border-bottom: 1px solid #71bdff !important;
    }
    #themeChanger .submit__comm__list__item__content__nav__time {
        color: #ff79c6 !important;
    }
    #themeChanger .bestsol {
        background-color: #44475a !important;
        border: 1px solid #71bdff !important;
    }
    #themeChanger .bestsol__nav p {
        color: #71bdff !important;
    }
    #themeChanger .bestsol__table {
        background-color: #282a36 !important;
        border: 1px solid #71bdff !important;
    }
    #themeChanger .bestsol__table a {
        color: #ff79c6 !important;
    }
    #themeChanger .bestsol__table tr {
        border-color: #71bdff !important;
    }
    #themeChanger .bestsol__table__head {
        background-color: #71bdff !important;
        color: #f8f8f2 !important;
        border: none !important;
    }
}

/*! SUBMIT  */
@media only screen and (min-width: 766px) {
    #themeChanger .ace-content {
        background-color: #f8f8f2 !important;
    }
    #themeChanger .ace-tm .ace_gutter {
        background: #282a36 !important;
        color: #71bdff !important;
    }
    #themeChanger .submit {
        background-color: #44475a !important;
        padding-bottom: 20px !important;
    }
    #editorsh0-dy {
        height: 100%;
    }
    #themeChanger #submit__comm__textarea {
        border-color: #71bdff !important;
    }
    #themeChanger .submit__pad__nav p {
        color: #f8f8f2 !important;
    }
    #themeChanger .submit__req {
        color: #f8f8f2 !important;
    }
    #themeChanger .submit__comm__nav__title,
    #themeChanger .submit__comm__nav__des {
        color: #f8f8f2 !important;
    }
    /* #themeChanger .main--fluid .submit  {
        height: 100vh !important;
    } */
}

/* PROFILE */
@media only screen and (min-width: 766px) {
    #themeChanger .nav__profile__menu ul::before {
        border-bottom-color: #282a36 !important;
    }
    #themeChanger .nav__profile__menu .profile__dropdown {
        background-color: #282a36 !important;
        color: #71bdff !important;
    }
    #themeChanger .nav__profile__menu__name,
    #themeChanger .nav__profile__menu__code,
    #themeChanger .nav__profile__menu li,
    #themeChanger .profile__name,
    #themeChanger .setting__main__label,
    #themeChanger .setting__main__sub,
    #themeChanger .main__user__content__class__nav {
        color: #71bdff !important;
    }
    #themeChanger .main__user__history__table {
        background-color: #282a36 !important;
        border-color: solid 1px #71bdff !important;
    }
    #themeChanger .main__user__history__table a {
        color: #ff79c6 !important;
    }
    #themeChanger .main__user__content {
        border-bottom: solid 1px #71bdff !important;
    }
    #themeChanger .nav-link#themeChanger .active,
    #themeChanger .enrollclass__table__head,
    #themeChanger .main__user__contest__table__head {
        background-color: #71bdff !important;
        color: #f8f8f2 !important;
        border: none !important;
    }
    #themeChanger .profile__edit {
        background-color: #44475a !important;
        border: 1px solid #71bdff !important;
    }
    #themeChanger .profile__item span,
    #themeChanger .main__user__content__class__nav {
        color: #f8f8f2 !important;
    }

    #themeChanger .setting__main__acc__title,
    #themeChanger .setting__main__info__title {
        color: #ff79c6 !important;
        font-size: 20px !important;
        border-bottom: 1px solid #ff79c6 !important;
        padding-bottom: 10px !important;
    }

    #themeChanger .setting__main__info input,
    #themeChanger .setting__main__info select,
    #themeChanger .setting__main__info textarea {
        background-color: #44475a !important;
        color: #f8f8f2 !important;
    }
    #themeChanger .setting__main__update__btn {
        background-color: #ff79c6 !important;
    }

    #themeChanger .nav-tabs svg {
        display: none !important;
    }
    #themeChanger .nav-tabs a .active:not(:nth-child(2)) svg {
        stroke: #f8f8f2 !important;
    }
    #themeChanger .nav-tabs a:nth-child(2) svg {
        fill: #ff79c6;
    }
    #themeChanger .dropdown__wrapper button {
        color: #bd93f9 !important;
    }

    #themeChanger .profile__avt img {
        height: auto !important;
    }

    #themeChanger .profile__avt {
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
        object-fit: cover !important;

        border-radius: 60% 40% 35% 70%/ 60% 30% 65% 40% !important;
        justify-content: center;
        height: 200px !important;
        width: 200px !important;
        border: 2px solid #71bdff !important;
        box-shadow: #71bdff 0px 0px 20px 5px !important;
        margin-bottom: 20px !important;
    }

    #themeChanger .rank__top__avt {
        display: flex !important;
        align-content: center !important;
        flex-wrap: wrap !important;
        margin-bottom: 0 !important;
    }

    #themeChanger .issue-guide {
        background-color: #282a36 !important;
        border: 1px solid #71bdff !important;
        border-radius: 4px !important;
    }

    #themeChanger .chat__panel__box,
    #themeChanger .chat__panel__input,
    #themeChanger .chat__panel {
        background-color: #282a36 !important;
    }
    #themeChanger .chat__panel__box__head {
        border-bottom: 1.6px solid #71bdff !important;
    }
    #themeChanger #channel,
    #themeChanger .chat__message__cont,
    #themeChanger #rec {
        background-color: #71bdff !important;
        border-color: #f8f8f2 !important;
        color: #f8f8f2 !important;
    }
    #themeChanger .chat__message__inf__actor {
        color: #ff79c6 !important;
    }
    #themeChanger #msg {
        background-color: #282a36 !important;
        color: #f8f8f2 !important;
    }
    #themeChanger .chat__panel__input {
        border-top: 1.6px solid #71bdff !important;
    }

    #themeChanger .filter__dropdown {
        background-color: #282a36 !important;
        box-shadow: #71bdff 0px 0px 20px 10px !important;
    }

    #themeChanger .filter__dropdown::before {
        border-bottom-color: #282a36 !important;
    }
    #themeChanger .filter__dropdown ul li {
        border-bottom: 1.6px solid #71bdff !important;
    }
    #themeChanger .checkbox--block,
    #themeChanger .cb__label {
        color: #71bdff !important;
    }
    #themeChanger .checkbox--red + label:before {
        border: 1.6px solid #71bdff !important;
    }
    #themeChanger .checkbox--red:checked + label:before {
        background: #71bdff !important;
    }
    #themeChanger .filter__dropdown__btn {
        background-color: #71bdff !important;
    }
}

/*! The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 5px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #282a36;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #71bdff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #71bdff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
